{
    "swagger": "2.0",
    "schemes": [
        "http"
    ],
    "basePath": "/svc/politics/v3/us/legislative/congress",
    "host": "api.nytimes.com",
    "info": {
        "version": "v3",
        "title": "Congress API",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left."
    },
    "paths": {
        "/members/house/{state}/{district-number}/current.json": {
            "parameters": [
                {
                    "name": "state",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "district-number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Current House Members by State/District Number",
                "description": "",
                "operationId": "GET_members-house-state-district-number-current-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "role": {
                                                "type": "string"
                                            },
                                            "gender": {
                                                "type": "string"
                                            },
                                            "party": {
                                                "type": "string"
                                            },
                                            "times_topics_url": {
                                                "type": "string"
                                            },
                                            "twitter_id": {
                                                "type": "string"
                                            },
                                            "youtube_id": {
                                                "type": "string"
                                            },
                                            "seniority": {
                                                "type": "string"
                                            },
                                            "next_election": {
                                                "type": "string"
                                            },
                                            "api_url": {
                                                "type": "string"
                                            },
                                            "district": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "id": "G000570",
                                        "name": "Frank Guinta",
                                        "role": "Representative",
                                        "gender": "M",
                                        "party": "R",
                                        "times_topics_url": "",
                                        "twitter_id": "RepFrankGuinta",
                                        "youtube_id": "",
                                        "seniority": "2",
                                        "next_election": "",
                                        "api_url": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/G000570.json",
                                        "district": "1"
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/{chamber}/members/current.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "House of Representatives: 102–113\nSenate: 80–113",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "chamber",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "house",
                        "senate"
                    ]
                }
            ],
            "get": {
                "summary": "Current Congress Members",
                "description": "",
                "operationId": "GET_congress-number-chamber-members-current-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "string"
                                            },
                                            "chamber": {
                                                "type": "string"
                                            },
                                            "num_results": {
                                                "type": "string"
                                            },
                                            "offset": {
                                                "type": "string"
                                            },
                                            "members": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "thomas_id": {
                                                            "type": "string"
                                                        },
                                                        "api_uri": {
                                                            "type": "string"
                                                        },
                                                        "first_name": {
                                                            "type": "string"
                                                        },
                                                        "middle_name": {
                                                            "type": "null"
                                                        },
                                                        "last_name": {
                                                            "type": "string"
                                                        },
                                                        "party": {
                                                            "type": "string"
                                                        },
                                                        "twitter_account": {
                                                            "type": "string"
                                                        },
                                                        "facebook_account": {
                                                            "type": "string"
                                                        },
                                                        "facebook_id": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "rss_url": {
                                                            "type": "string"
                                                        },
                                                        "domain": {
                                                            "type": "string"
                                                        },
                                                        "dw_nominate": {
                                                            "type": "string"
                                                        },
                                                        "ideal_point": {
                                                            "type": "string"
                                                        },
                                                        "seniority": {
                                                            "type": "string"
                                                        },
                                                        "total_votes": {
                                                            "type": "string"
                                                        },
                                                        "missed_votes": {
                                                            "type": "string"
                                                        },
                                                        "total_present": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "district": {
                                                            "type": "string"
                                                        },
                                                        "missed_votes_pct": {
                                                            "type": "string"
                                                        },
                                                        "votes_with_party_pct": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company.  All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": "101",
                                        "chamber": "Senate",
                                        "num_results": "100",
                                        "offset": "0",
                                        "members": [
                                            {
                                                "id": "A000031",
                                                "thomas_id": "5",
                                                "api_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/A000031.json",
                                                "first_name": "Brockman",
                                                "middle_name": null,
                                                "last_name": "Adams",
                                                "party": "D",
                                                "twitter_account": "",
                                                "facebook_account": "",
                                                "facebook_id": "",
                                                "url": "",
                                                "rss_url": "",
                                                "domain": "",
                                                "dw_nominate": "",
                                                "ideal_point": "",
                                                "seniority": "3",
                                                "total_votes": "638",
                                                "missed_votes": "7",
                                                "total_present": "0",
                                                "state": "WA",
                                                "district": "7",
                                                "missed_votes_pct": "1.10",
                                                "votes_with_party_pct": "89.22"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/members/{member-id-1}/votes/{member-id-2}/{congress-number}/{chamber}.json": {
            "parameters": [
                {
                    "name": "member-id-1",
                    "in": "path",
                    "description": "To find a member's ID number, get the list of members for the appropriate House or Senate.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "member-id-2",
                    "in": "path",
                    "description": "To find a member's ID number, get the list of members for the appropriate House or Senate.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "Senate: 101–113\nHouse: 102–113",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "chamber",
                    "in": "path",
                    "description": "The chamber in which the members served",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "house",
                        "senate"
                    ]
                }
            ],
            "get": {
                "summary": "Member Vote Comparison",
                "description": "",
                "operationId": "GET_members-member-id-1-votes-member-id-2-congress-number-chamber-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "first_member_id": {
                                                "type": "string"
                                            },
                                            "first_member_api_uri": {
                                                "type": "string"
                                            },
                                            "second_member_id": {
                                                "type": "string"
                                            },
                                            "second_member_api_uri": {
                                                "type": "string"
                                            },
                                            "congress": {
                                                "type": "string"
                                            },
                                            "chamber": {
                                                "type": "string"
                                            },
                                            "common_votes": {
                                                "type": "string"
                                            },
                                            "disagree_votes": {
                                                "type": "string"
                                            },
                                            "agree_percent": {
                                                "type": "string"
                                            },
                                            "disagree_percent": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "first_member_id": "S001181",
                                        "first_member_api_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/S001181.json",
                                        "second_member_id": "A000368",
                                        "second_member_api_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/A000368.json",
                                        "congress": "113",
                                        "chamber": "Senate",
                                        "common_votes": "642",
                                        "disagree_votes": "334",
                                        "agree_percent": "47.98",
                                        "disagree_percent": "52.02"
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{chamber}/votes/{year}/{month}.json": {
            "parameters": [
                {
                    "name": "chamber",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "senate",
                        "house"
                    ]
                },
                {
                    "name": "year",
                    "in": "path",
                    "description": "YYYY, 1991 to present",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "month",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Votes by Date",
                "description": "",
                "operationId": "GET_chamber-votes-year-month-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "object",
                                    "properties": {
                                        "chamber": {
                                            "type": "string"
                                        },
                                        "year": {
                                            "type": "string"
                                        },
                                        "month": {
                                            "type": "string"
                                        },
                                        "num_results": {
                                            "type": "string"
                                        },
                                        "votes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "congress": {
                                                        "type": "string"
                                                    },
                                                    "session": {
                                                        "type": "string"
                                                    },
                                                    "roll_call": {
                                                        "type": "string"
                                                    },
                                                    "vote_uri": {
                                                        "type": "string"
                                                    },
                                                    "bill_number": {
                                                        "type": "string"
                                                    },
                                                    "question": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "vote_type": {
                                                        "type": "string"
                                                    },
                                                    "date": {
                                                        "type": "string"
                                                    },
                                                    "time": {
                                                        "type": "string"
                                                    },
                                                    "result": {
                                                        "type": "string"
                                                    },
                                                    "democratic": {
                                                        "type": "object",
                                                        "properties": {
                                                            "yes": {
                                                                "type": "string"
                                                            },
                                                            "no": {
                                                                "type": "string"
                                                            },
                                                            "present": {
                                                                "type": "string"
                                                            },
                                                            "not_voting": {
                                                                "type": "string"
                                                            },
                                                            "majority_position": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "republican": {
                                                        "type": "object",
                                                        "properties": {
                                                            "yes": {
                                                                "type": "string"
                                                            },
                                                            "no": {
                                                                "type": "string"
                                                            },
                                                            "present": {
                                                                "type": "string"
                                                            },
                                                            "not_voting": {
                                                                "type": "string"
                                                            },
                                                            "majority_position": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "independent": {
                                                        "type": "object",
                                                        "properties": {
                                                            "yes": {
                                                                "type": "string"
                                                            },
                                                            "no": {
                                                                "type": "string"
                                                            },
                                                            "present": {
                                                                "type": "string"
                                                            },
                                                            "not_voting": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "total": {
                                                        "type": "object",
                                                        "properties": {
                                                            "yes": {
                                                                "type": "string"
                                                            },
                                                            "no": {
                                                                "type": "string"
                                                            },
                                                            "present": {
                                                                "type": "string"
                                                            },
                                                            "not_voting": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": {
                                    "chamber": "House",
                                    "year": "2016",
                                    "month": "Jan.",
                                    "num_results": "43",
                                    "votes": [
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "43",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/43.json",
                                            "bill_number": "H R 757",
                                            "question": "On Motion to Suspend the Rules and Pass, as Amended",
                                            "description": "North Korea Sanctions Enforcement Act of 2016",
                                            "vote_type": "2/3 YEA-AND-NAY",
                                            "date": "2016-01-12",
                                            "time": "17:06:00",
                                            "result": "Passed",
                                            "democratic": {
                                                "yes": "182",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "6",
                                                "majority_position": "Yes"
                                            },
                                            "republican": {
                                                "yes": "236",
                                                "no": "2",
                                                "present": "0",
                                                "not_voting": "8",
                                                "majority_position": "Yes"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "418",
                                                "no": "2",
                                                "present": "0",
                                                "not_voting": "13"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "42",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/42.json",
                                            "bill_number": "H R 1644",
                                            "question": "On Passage",
                                            "description": "Supporting Transparent Regulatory and Environmental Actions in Mining (STREAM) Act",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "16:59:00",
                                            "result": "Passed",
                                            "democratic": {
                                                "yes": "4",
                                                "no": "178",
                                                "present": "0",
                                                "not_voting": "6",
                                                "majority_position": "No"
                                            },
                                            "republican": {
                                                "yes": "231",
                                                "no": "10",
                                                "present": "0",
                                                "not_voting": "5",
                                                "majority_position": "Yes"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "235",
                                                "no": "188",
                                                "present": "0",
                                                "not_voting": "10"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "41",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/41.json",
                                            "bill_number": "H R 1644",
                                            "question": "On Motion to Recommit with Instructions",
                                            "description": "Supporting Transparent Regulatory and Environmental Actions in Mining (STREAM) Act",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "16:53:00",
                                            "result": "Failed",
                                            "democratic": {
                                                "yes": "184",
                                                "no": "1",
                                                "present": "0",
                                                "not_voting": "3",
                                                "majority_position": "Yes"
                                            },
                                            "republican": {
                                                "yes": "2",
                                                "no": "236",
                                                "present": "0",
                                                "not_voting": "8",
                                                "majority_position": "No"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "186",
                                                "no": "237",
                                                "present": "0",
                                                "not_voting": "10"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "40",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/40.json",
                                            "bill_number": "H R 1644",
                                            "question": "On Agreeing to the Amendment",
                                            "description": "Sewell of Alabama Amendment No. 4",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "16:36:00",
                                            "result": "Failed",
                                            "democratic": {
                                                "yes": "182",
                                                "no": "2",
                                                "present": "0",
                                                "not_voting": "4",
                                                "majority_position": "Yes"
                                            },
                                            "republican": {
                                                "yes": "8",
                                                "no": "233",
                                                "present": "0",
                                                "not_voting": "5",
                                                "majority_position": "No"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "190",
                                                "no": "235",
                                                "present": "0",
                                                "not_voting": "8"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "39",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/39.json",
                                            "bill_number": "H R 1644",
                                            "question": "On Agreeing to the Amendment",
                                            "description": "Cartwright of Pennsylvania Amendment No. 3",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "16:33:00",
                                            "result": "Failed",
                                            "democratic": {
                                                "yes": "181",
                                                "no": "3",
                                                "present": "0",
                                                "not_voting": "4",
                                                "majority_position": "Yes"
                                            },
                                            "republican": {
                                                "yes": "22",
                                                "no": "216",
                                                "present": "0",
                                                "not_voting": "8",
                                                "majority_position": "No"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "203",
                                                "no": "219",
                                                "present": "0",
                                                "not_voting": "11"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "38",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/38.json",
                                            "bill_number": "H R 1644",
                                            "question": "On Agreeing to the Amendment",
                                            "description": "Kildee of Michigan Amendment No. 2",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "16:28:00",
                                            "result": "Failed",
                                            "democratic": {
                                                "yes": "174",
                                                "no": "3",
                                                "present": "0",
                                                "not_voting": "11",
                                                "majority_position": "Yes"
                                            },
                                            "republican": {
                                                "yes": "15",
                                                "no": "220",
                                                "present": "0",
                                                "not_voting": "11",
                                                "majority_position": "No"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "189",
                                                "no": "223",
                                                "present": "0",
                                                "not_voting": "21"
                                            }
                                        },
                                        {
                                            "congress": "114",
                                            "session": "2",
                                            "roll_call": "37",
                                            "vote_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/house/sessions/2/votes/37.json",
                                            "bill_number": "H RES 583",
                                            "question": "On Agreeing to the Resolution",
                                            "description": "Providing for consideration of the bill (H.R. 1644) STREAM Act; providing for consideration of the joint resolution (S.J.Res. 22) congressional disapproval of the rule submitted by the Corps of Engineers and the EPA relating to “waters of the U.S.”; and consideration of (H.R. 3662) Iran Terror Finance Transparency Act",
                                            "vote_type": "RECORDED VOTE",
                                            "date": "2016-01-12",
                                            "time": "14:29:00",
                                            "result": "Passed",
                                            "democratic": {
                                                "yes": "0",
                                                "no": "183",
                                                "present": "0",
                                                "not_voting": "5",
                                                "majority_position": "No"
                                            },
                                            "republican": {
                                                "yes": "239",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "7",
                                                "majority_position": "Yes"
                                            },
                                            "independent": {
                                                "yes": "0",
                                                "no": "0",
                                                "present": "0",
                                                "not_voting": "0"
                                            },
                                            "total": {
                                                "yes": "239",
                                                "no": "183",
                                                "present": "0",
                                                "not_voting": "11"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/{chamber}/bills/{type}.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "The number of the Congress in which the bill was introduced/updated",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "chamber",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "house",
                        "senate"
                    ]
                },
                {
                    "name": "type",
                    "in": "path",
                    "description": "Types introduced, updated and passed are the 20 most recent bills in each category as reported by the THOMAS site.\n\nThe parameter major retrieves the 20 most recent bills (for the specified chamber) that have been labeled as significant by The New York Times.\n\nWhen type = introduced, the introduced_date determines the set of recent bills. When type = updated, the latest_major_action_date determines the result set. ",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "introduced",
                        "updated",
                        "passed",
                        "major"
                    ]
                }
            ],
            "get": {
                "summary": "Recent Bills",
                "description": "",
                "operationId": "GET_congress-number-chamber-bills-type-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "string"
                                            },
                                            "chamber": {
                                                "type": "string"
                                            },
                                            "num_results": {
                                                "type": "string"
                                            },
                                            "offset": {
                                                "type": "string"
                                            },
                                            "bills": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "number": {
                                                            "type": "string"
                                                        },
                                                        "bill_uri": {
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "sponsor_uri": {
                                                            "type": "string"
                                                        },
                                                        "introduced_date": {
                                                            "type": "string"
                                                        },
                                                        "cosponsors": {
                                                            "type": "string"
                                                        },
                                                        "committees": {
                                                            "type": "string"
                                                        },
                                                        "latest_major_action_date": {
                                                            "type": "string"
                                                        },
                                                        "latest_major_action": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": "113",
                                        "chamber": "House",
                                        "num_results": "20",
                                        "offset": "0",
                                        "bills": [
                                            {
                                                "number": "H.R.5889",
                                                "bill_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/113/bills/hr5889.json",
                                                "title": "Justifiable Homicide Accuracy in Reporting Act of 2014",
                                                "sponsor_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/J000032.json",
                                                "introduced_date": "January  2, 2015",
                                                "cosponsors": "0",
                                                "committees": "House Judiciary",
                                                "latest_major_action_date": "January  2, 2015",
                                                "latest_major_action": "Referred to House committee. Status: Referred to the House Committee on the Judiciary."
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/bills/{bill-id}.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "105–114",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "bill-id",
                    "in": "path",
                    "description": "The bill's unique ID number.\n\nBill ID numbers are included in bill summary responses as url_number",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Bill Details",
                "description": "",
                "operationId": "GET_congress-number-bills-bill-id-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "string"
                                            },
                                            "bill": {
                                                "type": "string"
                                            },
                                            "bill_uri": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "sponsor": {
                                                "type": "string"
                                            },
                                            "sponsor_uri": {
                                                "type": "string"
                                            },
                                            "gpo_pdf_uri": {
                                                "type": "string"
                                            },
                                            "introduced_date": {
                                                "type": "string"
                                            },
                                            "cosponsors": {
                                                "type": "string"
                                            },
                                            "committees": {
                                                "type": "string"
                                            },
                                            "latest_major_action_date": {
                                                "type": "string"
                                            },
                                            "latest_major_action": {
                                                "type": "string"
                                            },
                                            "house_passage_vote": {
                                                "type": "null"
                                            },
                                            "senate_passage_vote": {
                                                "type": "null"
                                            },
                                            "versions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {}
                                                }
                                            },
                                            "actions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "datetime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": "114",
                                        "bill": "S.764",
                                        "bill_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/bills/s764.json",
                                        "title": "Defund Planned Parenthood Act of 2015",
                                        "sponsor": "Roger Wicker",
                                        "sponsor_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/members/W000437.json",
                                        "gpo_pdf_uri": "http://beta.congress.gov/114/bills/s764/BILLS-114s764is.pdf",
                                        "introduced_date": "2015-03-17",
                                        "cosponsors": "1",
                                        "committees": "Senate Commerce, Science, and Transportation; House Natural Resources",
                                        "latest_major_action_date": "2016-03-15",
                                        "latest_major_action": "Resolving differences -- Senate actions. Status: Considered by Senate (Message from the House considered).",
                                        "house_passage_vote": null,
                                        "senate_passage_vote": null,
                                        "versions": [],
                                        "actions": [
                                            {
                                                "datetime": "2015-09-20 20:00:00 -0400",
                                                "description": "Message on House action received in Senate and at desk: House amendment to Senate bill."
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/bills/{bill-id}/{resource}.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "The number of the Congress in which the bill was introduced/updated. 105-114",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "bill-id",
                    "in": "path",
                    "description": "The bill's unique ID number.  The bill's unique ID number",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "subjects",
                        "amendments",
                        "related"
                    ]
                }
            ],
            "get": {
                "summary": "Bill Subjects, Amendments, and Related Bills",
                "description": "",
                "operationId": "GET_congress-number-bills-bill-id-resource-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "string"
                                            },
                                            "bill": {
                                                "type": "string"
                                            },
                                            "url_number": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "sponsor": {
                                                "type": "string"
                                            },
                                            "sponsor_id": {
                                                "type": "string"
                                            },
                                            "introduced_date": {
                                                "type": "string"
                                            },
                                            "cosponsors": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "cosponsor_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "date": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "committees": {
                                                "type": "string"
                                            },
                                            "latest_major_action_date": {
                                                "type": "string"
                                            },
                                            "latest_major_action": {
                                                "type": "string"
                                            },
                                            "house_passage_vote": {
                                                "type": "string"
                                            },
                                            "senate_passage_vote": {
                                                "type": "string"
                                            },
                                            "subjects": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "url_name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "cosponsors_by_party": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "party": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "sponsors": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": "114",
                                        "bill": "S.764",
                                        "url_number": "s764",
                                        "title": "Defund Planned Parenthood Act of 2015",
                                        "sponsor": "Roger Wicker",
                                        "sponsor_id": "W000437",
                                        "introduced_date": "2015-03-17",
                                        "cosponsors": [
                                            {
                                                "cosponsor_id": "S001194",
                                                "name": "Brian Schatz",
                                                "date": "2015-03-17"
                                            }
                                        ],
                                        "committees": "Senate Commerce, Science, and Transportation; House Natural Resources",
                                        "latest_major_action_date": "2016-03-15",
                                        "latest_major_action": "Resolving differences -- Senate actions. Status: Considered by Senate (Message from the House considered).",
                                        "house_passage_vote": "",
                                        "senate_passage_vote": "",
                                        "subjects": [
                                            {
                                                "name": "Public lands and natural resources",
                                                "url_name": "public-lands-and-natural-resources"
                                            }
                                        ],
                                        "cosponsors_by_party": [
                                            {
                                                "party": {
                                                    "id": "D",
                                                    "sponsors": "2"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/bills/{bill-id}/cosponsors.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "description": "The number of the Congress in which the bill was introduced/updated. 105-114",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "bill-id",
                    "in": "path",
                    "description": "The bill's unique ID number.  The bill's unique ID number",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Bill Cosponsors",
                "description": "",
                "operationId": "GET_congress-number-bills-bill-id-cosponsors-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "string"
                                            },
                                            "bill": {
                                                "type": "string"
                                            },
                                            "url_number": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "sponsor": {
                                                "type": "string"
                                            },
                                            "sponsor_id": {
                                                "type": "string"
                                            },
                                            "introduced_date": {
                                                "type": "string"
                                            },
                                            "cosponsors": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "cosponsor_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "date": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "committees": {
                                                "type": "string"
                                            },
                                            "latest_major_action_date": {
                                                "type": "string"
                                            },
                                            "latest_major_action": {
                                                "type": "string"
                                            },
                                            "house_passage_vote": {
                                                "type": "string"
                                            },
                                            "senate_passage_vote": {
                                                "type": "string"
                                            },
                                            "subjects": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "url_name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "cosponsors_by_party": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "party": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "sponsors": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": "114",
                                        "bill": "S.764",
                                        "url_number": "s764",
                                        "title": "Defund Planned Parenthood Act of 2015",
                                        "sponsor": "Roger Wicker",
                                        "sponsor_id": "W000437",
                                        "introduced_date": "2015-03-17",
                                        "cosponsors": [
                                            {
                                                "cosponsor_id": "S001194",
                                                "name": "Brian Schatz",
                                                "date": "2015-03-17"
                                            },
                                            {
                                                "cosponsor_id": "S001198",
                                                "name": "Dan Sullivan",
                                                "date": "2015-03-17"
                                            },
                                            {
                                                "cosponsor_id": "C000127",
                                                "name": "Maria Cantwell",
                                                "date": "2015-03-17"
                                            }
                                        ],
                                        "committees": "Senate Commerce, Science, and Transportation; House Natural Resources",
                                        "latest_major_action_date": "2016-03-15",
                                        "latest_major_action": "Resolving differences -- Senate actions. Status: Considered by Senate (Message from the House considered).",
                                        "house_passage_vote": "",
                                        "senate_passage_vote": "",
                                        "cosponsors_by_party": [
                                            {
                                                "party": {
                                                    "id": "D",
                                                    "sponsors": "2"
                                                }
                                            },
                                            {
                                                "party": {
                                                    "id": "R",
                                                    "sponsors": "1"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/nominees/received.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ],
            "get": {
                "summary": "Nominee Lists",
                "description": "",
                "operationId": "GET_congress-number-nominees-received-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "congress": {
                                    "type": "integer"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "uri": {
                                                "type": "string"
                                            },
                                            "date_received": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "nominee_state": {
                                                "type": "string"
                                            },
                                            "committee_uri": {
                                                "type": "string"
                                            },
                                            "latest_action_date": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "congress": 114,
                                "results": [
                                    {
                                        "id": "PN1233",
                                        "uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/nominees/PN1233.json",
                                        "date_received": "2016-03-15",
                                        "description": "Kathleen Marie Sweet, of New York, to be United States District Judge for the Western District of New York, vice William M. Skretny, retired.",
                                        "nominee_state": "NY",
                                        "committee_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/senate/committees/SSJU.json",
                                        "latest_action_date": "2016-03-15",
                                        "status": "Pending"
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api-key": []
                    }
                ]
            }
        },
        "/{congress-number}/nominees/{nominee-ID}.json": {
            "parameters": [
                {
                    "name": "congress-number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Nominee Details",
                "description": "",
                "operationId": "GET_congress-number-nominees-nominee-ID-json",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string"
                                },
                                "copyright": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "congress": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "date_received": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "nominee_state": {
                                                "type": "string"
                                            },
                                            "committee_uri": {
                                                "type": "string"
                                            },
                                            "latest_action_date": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "actions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "date": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "votes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": "OK",
                                "copyright": "Copyright (c) 2016 The New York Times Company. All Rights Reserved.",
                                "results": [
                                    {
                                        "congress": 114,
                                        "id": "PN1233",
                                        "date_received": "2016-03-15",
                                        "description": "Kathleen Marie Sweet, of New York, to be United States District Judge for the Western District of New York, vice William M. Skretny, retired.",
                                        "nominee_state": "NY",
                                        "committee_uri": "http://api.nytimes.com/svc/politics/v3/us/legislative/congress/114/senate/committees/SSJU.json",
                                        "latest_action_date": "2016-03-15",
                                        "status": "Pending",
                                        "actions": [
                                            {
                                                "date": "2016-03-15",
[...]
